services:

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    networks:
      - backend

  django:
    build: 
      context: ./backend
      dockerfile: ../docker/Dockerfile.django
    container_name: django_api
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --forwarded-allow-ips="*"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - static_volume:/app/static
      - media_volume:/media
    depends_on:
      - postgres
    networks:
      - backend
      - frontend

  flutter:
    build: 
      context: ./frontend_flutter
      dockerfile: ../docker/Dockerfile.flutter
    container_name: flutter_web
    restart: always
    networks:
      - frontend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
       - ./nginx/yenlei.conf:/etc/nginx/conf.d/default.conf:ro
       - static_volume:/static
       - media_volume:/app/media
       - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - django
      - flutter
    networks:
      - frontend

networks:
  backend:
    internal: true
  frontend:

volumes:
  static_volume:
  media_volume:
